/* Containers */

@use '../settings/breakpoints';

@mixin container {
  width: 100%;
  @media only screen and (max-width: breakpoints.$extended) {
    padding-right: var(--moat);
    padding-left: var(--moat);
  }
}

@mixin content($width: var(--w-wide)) {
  width: 100%;
  max-width: $width;
}
