/* Containers */

@use '../settings/breakpoints';

@mixin container {
  width: 100%;
  @media only screen and (max-width: breakpoints.$wide) {
    padding-right: var(--ha-ha);
    padding-left: var(--ha-ha);
  }
  @media only screen and (min-width: (breakpoints.$wide + 1)) {
    padding-right: var(--moat);
    padding-left: var(--moat);
  }
}

@mixin content($width: var(--w-wide)) {
  width: 100%;
  max-width: $width;
}
