/* Button */

@use '../mixins';

.button {
  padding: var(--gutter) var(--ditch);
  background-color: transparent;
  color: var(--dark);
  border: 0.1rem solid var(--dark);
  font-family: var(--sans);
  font-weight: var(--ultra);
  border-radius: var(--radius-md);
  margin: 0.8em 0;
  display: inline-block;
  min-width: 9rem;
  &:hover {
    background-color: var(--dark);
    color: var(--white);
  }

  &--inverted {
    color: var(--white);
    border-color: var(--white);
    &:hover {
      background-color: var(--white);
      color: var(--black);
    }
  }

  &--small {
    padding: var(--love);
    min-width: 1.5rem;
    // background-color: var(--white);

    border: none;
    &:hover {
      background-color: var(--white);
      color: var(--black);
    }
  }

  &:active {
    background-color: var(--black-dark);
    color: var(--white);
  }
}

.disabled {
  color: var(--grey);
  cursor: default;
  &:active {
    color: var(--grey);
  }
  &:hover {
    color: var(--grey);
  }
}
