/* Breakpoints */

/* widths */
$compact: 520px;
$narrow: 767px; /* 768 is where iPad and iPad Mini starts */
$wide: 1023px; /* 1024 is where iPad Pro starts */
$extended: 1200px;

/* heights */
$letterbox: 450px;
$short: 790px;
$tall: 940px;
