/* Fonts */

@font-face {
  font-family: 'Arizona Flare';
  src: url('~/assets/fonts/ABCArizonaFlare-Light-Trial.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Söhne';
  src: url('~/assets/fonts/soehne-test-buch.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Sigmar';
  src: url('~/assets/fonts/Sigmar-Regular.ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Acme';
  src: url('~/assets/fonts/Acme-Regular.ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Rubik';
  src: url('~/assets/fonts/Rubik-VariableFont_wght.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
