/* Header */

@use '../mixins';
@use '../settings/breakpoints';

.header {
  @include mixins.content;
  @include mixins.sticky();
  @include mixins.flex(
    $justify: space-between,
    $direction: row,
    $align: center
  );
  @include mixins.transition;
  padding: var(--trench) 0;
  text-transform: uppercase;
  font-size: var(--type-xl);
  color: var(--dark);
  background-color: var(--white);
  z-index: 1;

  &--light {
    color: var(--white);
  }
}
