/* Header */

@use '../mixins';
@use '../settings/breakpoints';

.header {
  @include mixins.container;
  @include mixins.sticky();
  @include mixins.flex($justify: space-between);
  @include mixins.transition;
  padding-top: var(--trench);
  padding-bottom: var(--trench);
  text-transform: uppercase;
  font-size: var(--type-xl);
  color: var(--dark);
  z-index: 1;

  &--light {
    color: var(--white);
  }
}
