/* Section */

@use '../mixins';

.section {
  @include mixins.content;
  padding-top: var(--gutter);
  padding-bottom: var(--gutter);
  @include mixins.flex($direction: row, $gap: var(--trench));
  &--left {
    @include mixins.flex($justify: left);
    font-size: var(--type-lg);
    color: var(--dark);
  }
  &--counter {
    font-size: var(--type-xsm);
    color: var(--blue);
    gap: 0;
    @include mixins.grid() {
      grid-template-columns: repeat(auto-fit, minmax(2px, 0.25fr));
      justify-items: center;
      align-items: center;
    }
    .selected-page {
      font-size: var(--type-lg);
      color: var(--dark);
    }
  }
}
section {
  border-bottom: 3px solid var(--dark);
  padding-top: var(--gutter);
  padding-bottom: var(--gutter);
}

.main {
  padding: 0 var(--ditch);
  font-family: var(--sans);
}
.container {
  @include mixins.container;
  @include mixins.flex($align: center, $gap: var(--runnel));
  // display: grid;
  // grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  // justify-self: center;
  // justify-content: center;
  // justify-items: center;
}
